.photo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.all{
    color: white;    
    margin-top: 8px;
}

.user{
    margin-top: 15px;
    border: .1px solid rgb(48, 53, 66);
    border-radius: 15px;
    padding: 10px;
    background-color: rgb(45, 51, 65);
}

.cells{
    cursor: pointer;
    color: white;
    border: .1px solid rgb(48, 53, 66);
    border-radius: 5px;
    padding: 3px 6px;
    margin: 3px;
    text-align: center;
}

.buttons{
    cursor: pointer;
    color: white;
    border: .1px solid rgb(48, 53, 66);
    border-radius: 5px;
    padding: 5px 10px;
    text-align: center;
    background-color: inherit;
}

.selectedPage{
    font-weight: bold;
    cursor: pointer;
    color: gold;
}

.paginator{
    height: 30px;
    position: relative;
}
