.nav{
  grid-area: n;
  background-color: burlywood;
  padding: 20px;
}

.item{
  color: white;
  text-decoration: none;
}

.active{
  color: gold;
  text-decoration: none;
}

.item:nth-child(5){
  margin-top: 20px;
}

.item:nth-child(6){
  margin-top: 30px;
}

.avatars{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.avatar{
  width: 45px;
  height: 45px;
}
